@import url('https://fonts.googleapis.com/css?family=Rubik+Distressed|Acme');
body {
    background-color: #6F8972;
    padding: 0;
    margin: 0;
    font-family: "Acme";
}
header {
    background-color:#424246;
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%; 
    height: 150px; 
    grid-column: 1/3; 
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #6F8972;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #B9C7B2;
    color: #71B0A4;
}
h2 {
    margin: 0;
}
h4 {
    color: #424246;
}
#background {
    background-color: #B9C7B2;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
#hero {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
    color: white;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title {
    color: #B9C7B2;
    font-size: 2em;
    margin-top: 10px;
    font-family: "Rubik Distressed";
}
#logo_link {
    padding-top: 5px;
}
.book, .join {
    background-color: #6F8972;
    color: #B9C7B2;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #71B0A4;
    color: #424246;
}
.button-box {
    text-align: center;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.canyons {
    width: 100%; 
    height: 150px;
    grid-column: 1/2; 
    grid-row: 2/3;
    margin: 100px 0;
}
.canyons img {
    height: 300px;
    width: auto;
    border: 10px solid #d9c2a3;
}
.canyons h3 {
    margin-top: -150px;
    z-index: -1;
    color: #6F8972;
}
.card-img {
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img, .mountains {
    border: 10px solid #d9c2a3;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.grand {
    width: 100%; 
    height: 150px; 
    grid-row: 3/4;
    margin: 100px 0;
}
.grand img {
    height: 300px;
    width: auto;
    border: 10px solid #d9c2a3;
}
.grand h3 {
    margin-top: -150px;
    z-index: -1;
    color: #B9C7B2;
}
.home-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.idaho {
    width: 100%; 
    height: 150px;
    grid-column: 1/2; 
    grid-row: 1/2;
    margin: 100px 0;
    margin-top: 10px;
}
.idaho img {
    height: 300px;
    width: auto;
    border: 10px solid #d9c2a3;
}
.idaho h3 {
    margin-top: -150px;
    z-index: -1;
    color: #B9C7B2;
}
.join:hover {
    background-color: #6F8972;
    color: #B9C7B2;
}
.logo {
    width: 150px;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #424246;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: #71B0A4;
    font-family: "Rubik Distressed";
}
.msg p {
    color: #6F8972;
    font-size: .8em;
    padding-bottom: 15px;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.river-body {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    grid-gap: 5px;
    text-align: center;
}
.river-head {
    text-align: center;
    font-size: 50px;
    background-color: #B9C7B2;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
main section img {
    box-sizing: border-box;
}
footer {
    background-color: #B9C7B2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #71B0A4;
}
footer a {
    color: #424246;
    text-decoration: none;
}
footer a:hover {
    color: #6F8972;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}